@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
body{
    font-family: 'Kosugi Maru', sans-serif; 
    background-color: black;
    background-image:url(../images/conflicted.gif);
    background-size:cover;
    background-attachment: fixed;
    color: white;
}

#main-container{
    
}

#navigation{
    border: 1px solid white;
}

.nav-functions{
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color:white;
}

.nav-functions :hover{
background-color: #8149a6;
}

#first-title {
    background-color: rgb(59, 88, 205);
    text-align: center;
    margin: 0 auto;
    width: 90%;
    opacity: 80%;
    
}
#article-container{
    width: 90%;
    margin: 0 auto;
    margin: 50px auto;
    margin-bottom: 50px;
}

.first-article{
    padding: 15px;
    text-align: center;
    background-color: palegoldenrod;
    opacity: 85%;
    color: black;
}
