@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
body{
    font-family: 'Kosugi Maru', sans-serif; 
    background-color: black;
    background-image:url(../images/conflicted.gif);
    background-size:cover;
    background-attachment: fixed;
}

#main-container{
    height: 100px;
    background-color: lightgray;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;

}
.content{

}
#navigation{
    padding: 20px;
}

.nav-functions{
    transform: rotate(20 deg);
    padding: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.nav-functions :hover{
background-color: rgb(175, 27, 93);

}

#first-title {
    background-color: rgb(59, 88, 205);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    width: 90%;
    opacity: 80%;
    
}
#article-container{
    width: 90%;
    margin: 0 auto;
    margin: 50px auto;
    margin-bottom: 50px;
}

.first-article{
    padding: 15px;
    text-align: center;
    background-color: rgb(175, 27, 93);
    opacity: 85%;
    color: black;
}
