@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');body{
    font-family: 'Sedgwick Ave Display', cursive;
    background-color: black;
    background-image:url(../images/conflicted.gif);
    background-size:cover;
    background-attachment: fixed;
}
h3{
    background-color: lightgray;
}
#main-container{
    border-radius: 5px;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    opacity: 95%;
    padding: 5px;

}
.content{
    height: 100px;
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
}

.content:nth-child(3n+1){
    animation: danimation3 3s infinite;
    
}
.content:nth-child(3n+2){
    animation: danimation2 1s infinite;
    
}
.content.content:nth-child(3n+3){
    background-color: black;
    animation: danimation1 2s infinite;
}

#navigation{
    padding: 20px;
    
}

@keyframes danimation1 {
    from{background-color: whitesmoke;}
    to {background-color:gray;}
}
@keyframes danimation2{
    from{background-color:whitesmoke;}
    to{background-color: rgb(43, 107, 186)}
}
@keyframes danimation3{
    from{background-color:whitesmoke;}
    to{background-color: rgb(175, 27, 93);}

}

.nav-functions{
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.nav-functions :hover{

}

#first-title {
    color: white;
    border-top: 3px solid white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    width: 90%;
    
}
#article-container{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin: 50px auto;
    margin-bottom: 50px;
}

.first-article{
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: rgb(175, 27, 93);
    opacity: 85%;
    color: black;
}
